.liste {
  background-color: #fff;
  float: left;
  height: 100%;
  padding-left: 12%;
  width: 27%;
}

.message {
  background-color: #fff;
  border-left: 3px solid #bbbbbb;
  float: right;
  height: 100%;
  width: 60%;
}
